
  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
  <label for="menu-icon"></label>
  <nav class="nav">
    <ul class="pt-5">
      <li><a class="nav-link" routerLink='/inicio' routerLinkActive='active'>Home</a></li>
      <li><a class="nav-link" routerLink='/loginAdmin' routerLinkActive='active'>Login Admin</a></li>
      <li><a class="nav-link" routerLink='/loginEmpresa' routerLinkActive="active">Login Empresa</a></li>
      <li><a class="nav-link" routerLink='/loginAdmin' routerLinkActive='active' (click)="logout()">Logout</a></li>
    </ul>
  </nav>

