@import url(https://fonts.googleapis.com/css?family=Lobster);
body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:white;
  text-align:center;
  font-size:200px;


background-color: #f1c40f;
    -webkit-animation: color 5s ease-in  0s infinite alternate running;
    -moz-animation: color 5s linear  0s infinite alternate running;
    animation: color 5s linear  0s infinite alternate running;
}

@-webkit-keyframes color {
    0% { background-color: #f1c40f; }
    32% { background-color: #e74c3c; }
    55% { background-color: #9b59b6; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}
@-moz-keyframes color {
     0% { background-color: #f1c40f; }
    32% { background-color: #e74c3c; }
    55% { background-color: #9b59b6; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}
@keyframes color {
  0% { background-color: #f1c40f; }
    32% { background-color: #e74c3c; }
    55% { background-color: #9b59b6; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}

.card-img-top{
  width: 600px;
  height: 200px;
}
